.searchBar {
  display: inline-block;
  justify-content: end;
  align-items: end;
  margin: 2em;
  border: solid 1px;
}

.searchInput {
  padding: 8px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  font-size: 16px;
}

.searchButton {
  background-color: #082e9f;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: solid 1px;
}

.searchButton:hover {
  background-color: #0b3c79;
}
