.contaier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.about button,
.home button {
  background-color: #555;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.about button:hover,
.home button:hover {
  background-color: #777;
}
